.popup__close-button {
  position: absolute;
  right: 0;
  top: -36px;
}

@media screen and (max-height: 420px) {
  .popup__close-button {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .popup__close-button svg {
    fill: black;
  }
}

@media screen and (min-width: 520px) {
  .popup__close-button {
    right: -40px;
    top: -40px;
  }
}
